.panel {
    background-color: beige;
    display: flex;
    overflow: hidden;
    height: 100%;
}

.panel-container {
    height: 200px
}

.panel__tab-switcher {
    padding: 5px;
    width: 150px;
    border-right: solid 1px;
}

.panel__tab-container {
    padding: 5px;
    flex-grow: 1;
}