.panel {
    background-color: beige;
    z-index: 3;
    display: grid;
    grid-template-rows: 10px 1fr;
    grid-template-columns: 140px 1fr;
}

.panel__tab-container {
    padding: 5px;
    overflow-y: auto;
}

.panel__tab-switcher {
    width: 130px;
}

.panel__handler {
    cursor: row-resize;
    background-color: lightgray;
    grid-column: span 2;
}