.panel {
    background-color: beige;
    display: flex;
    flex-direction: column;
    z-index: 3;
    flex-shrink: 0;
}

.panel__body {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.panel__tab-container {
    padding: 5px;
    overflow-y: auto;
    flex-grow: 1;
}

.panel__tab-switcher {
    width: 130px;
}

.panel__handler {
    cursor: row-resize;
    background-color: lightgray;
    height: 10px;
    width: 100%;
    flex-shrink: 0;
}