.panel {
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.panel__body {
    display: flex;
    height: 300px;
}

.panel__tab-container {
    padding: 5px;
    overflow-y: scroll;
    flex-grow: 1;
}

.panel__tab-switcher {
    width: 130px;
}