.notification-indicator-container {
    position: relative;
}

.notification-indicator {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    top: 5px;
    transform: translateY(-50%);
    right: -5px;
}