bugs/client/node_modules
bugs/client/static
venv
.venv
**/__pycache__
bugs/.env
bugs/.env.docker
bugs/storage/backups/*
!bugs/storage/backups/.gitkeep
bugs/storage/db/*
!bugs/storage/db/.gitkeep
bugs/storage/logs/*
!bugs/storage/logs/.gitkeep
