.queen-selector__name {
    margin-top: var(--margin-small);
}

.queen-selector__profile-stats {
    margin-top: var(--margin-small);
}

.queen-selector__choose-btn-container {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
    gap: var(--margin);
}

.queen-selector__analize-genome-btn-container {
    margin-top: var(--margin-small);
}

.queen-selector__born-antara-container {
    display: flex;
    flex-direction: row;
    padding-top: var(--padding-small);
    gap: var(--margin-small);
}