.ants-list__more-btn {
    width: 100%;
}

.ants-list__table-col-name {
    overflow: auto;
}

.ants-list__table-col-type {
    width: 70px;
    overflow: hidden;
}

.ants-list__table-col-nest {
    width: 140px;
    overflow: hidden;
}

.ants-list__table-col-more {
    width: 50px;
    overflow: hidden;
}

.ants-list__ant-profile {
    padding: 1px;
}

.ants-list__ant-profile-field {
    display: flex;
    margin-top: var(--margin-small);
}

.ants-list__ant-profile-field-label {
    flex: 0 0 150px;
}

.ants-list__ant-profile-field-data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.ants-list__ant-profile-action-btns-container {
    margin-top: var(--margin-small);
    display: flex;
    gap: var(--margin-large)
}