.gene {
    display: flex;
    flex-direction: column;
    width: 225px;
    background-color: var(--contrasting-color-light);
    padding: var(--padding);
    border-radius: 5px;
}

.gene__title {
    /* font-weight: var(--font-weight-strong); */
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-small);
}

.gene__value-section {
    display: flex;
    flex-direction: row;
}

.gene__value-section-label {
    flex: 0 0 116px;
}

.gene__value-section-value {
    flex-grow: 1;
}

.gene__caste-dev-table {
    background-color: var(--contrasting-color-light);
}

.gene__icon-container {
    height: 32px;
    width: 32px;
    min-width: 32px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-position: center;
}

.gene__icon-container-strength {
    background-image: url('@view/panel/icons/statsStrengthIcon.png');
}

.gene__icon-container-defense {
    background-image: url('@view/panel/icons/statsDefenseIcon.png');
}

.gene__icon-container-max-hp {
    background-image: url('@view/panel/icons/statsMaxHpIcon.png');
}

.gene__icon-container-hp-regen-rate {
    background-image: url('@view/panel/icons/statsHpRegenRateIcon.png');
}

.gene__icon-container-sight-distance {
    background-image: url('@view/panel/icons/statsSightDistanceIcon.png');
}

.gene__icon-container-speed {
    background-image: url('@view/panel/icons/statsSpeedIcon.png');
}

.gene__icon-container-life-span {
    background-image: url('@view/panel/icons/statsLifeSpanIcon.png');
}

.gene__contnent-wraper {
    display: flex;
    gap: var(--margin)
}