html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.g-hidden {
    display: none !important
}

.g-table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: solid 1px;
}

.g-table td {
    border: solid 1px;
}

.g-error-container {
    color: red;
}