.colony_manager {
    width: 100%;
    margin-top: var(--margin-large);
}

.colony-manager__nest-tab {
    display: flex;
    flex-direction: column;
}

.colony-manager__nest-manager {
    padding: 3px;
}


.colony-manager__operations-tab {
    display: flex;
    flex-direction: column;
}

.colony-manager__operations-creator {
    padding: 0;
}

.colony-manager__new_operations_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.colony-manager__enemies-tab {
    display: flex;
    flex-direction: row;
}
