.tab-switcher {
    display: flex;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    border-bottom: 1px solid gray;
}

.tab-switcher--horizontal {
    flex-direction: row;
    justify-content: space-around;
}

.tab-switcher--vertical {
    flex-direction: column;
}

.tab-switcher__activator {
    border: none;
    background-color: unset;
    font-size: var(--font-size-large);
    color: darkgray;
}

.tab-switcher__activator--active {
    color: black;
    border-bottom: 2px solid black;
}