.tab-switcher {
    padding: 5px;
    display: flex;
}

.tab-switcher--horizontal {
    flex-direction: row;
}

.tab-switcher--vertical {
    flex-direction: column;
}

.tab-switcher__activator {
    margin: 1px;
}

.tab-switcher__activator--active {
    outline: solid 3px blue;
}