.queen-manager {
    padding: 5px;
}

.queen-manager__males_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.queen-manager__male_item {
    color: blue;
    cursor: pointer;
}

.queen-manager__male_item--selected {
    color: red;
}