.panel {
    background-color: var(--main-color);
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 599px) {
    .panel {
        width: 100%;
        border-radius: 0;
    }

    .panel__handler {
        border-radius: 0;
    }
}

@media (min-width: 600px) {
    .panel {
        width: 470px;
        border-top-left-radius: 6px;
    }

    .panel__handler {
        border-top-left-radius: 6px;
    }
}

.panel__tab-container {
    padding: 10px;
    overflow-y: auto;
    position: relative;
    scrollbar-gutter: stable;
}

.panel__handler {
    cursor: row-resize;
    background-color: var(--contrasting-color-light);
    flex-grow: 0;
    flex-shrink: 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.panel__handler svg {
    height: 100%;
}

.panel__field-label {
    font-weight: var(--font-weight-strong);
    font-size: var(--font-size-large);
}

.panel__tab-switcher {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    padding-bottom: 10px;
}

.panel__tab-switcher button {
    margin: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    background-position: center;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    background-repeat: no-repeat;
}

.panel__tab-switcher button.tab-switcher__activator--active {
    outline: var(--contrasting-color-hard) solid 4px;
    z-index: 1;
}

.panel__breeding-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/breedingIcon.png');
}

.panel__colonies-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/coloniesIcon.png');
}

.panel__specie-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/specieIcon.png');
}

.panel__notifications-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/notificationsIcon.png');
}

.panel__rating-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/ratingIcon.png');
}

.panel__user-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/accountIcon.png');
}

.panel__help-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/helpIcon.png');
}
