.panel {
    background-color: var(--main-color);
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}

.panel--smooth-resizing {
    transition: height 0.3s ease-in-out;
}

.panel__tab-container {
    padding: 10px;
    overflow-y: auto;
    position: relative;
    scrollbar-gutter: stable;
}

.panel__handler {
    cursor: row-resize;
    background-color: var(--contrasting-color-light);
    flex-grow: 0;
    flex-shrink: 0;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    padding: 2px;
    padding-right: 15px;
}

.panel__control-btn {
    height: 23px;
    width: 25px;
}

.panel__resize-icon {
    height: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.panel__field-label {
    font-weight: var(--font-weight-strong);
    font-size: var(--font-size-large);
}

.panel__tab-switcher {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    padding-bottom: 10px;
}

.panel__tab-switcher button {
    margin: 0;
    width: 14vw;
    aspect-ratio: 1 / 1;
    min-width: 40px;
    max-width: 60px;
    cursor: pointer;
    border: none;
    background-position: center;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    background-repeat: no-repeat;
}

.panel__tab-switcher button.tab-switcher__activator--active {
    /* outline: var(--contrasting-color-hard) solid 4px; not supported in safari 15.6*/ 
    box-shadow: 0 0 0 4px var(--contrasting-color-hard);
    z-index: 1;
}

.panel__breeding-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/breedingIcon.png');
}

.panel__colonies-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/coloniesIcon.png');
}

.panel__specie-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/specieIcon.png');
}

.panel__notifications-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/notificationsIcon.png');
}

.panel__rating-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/ratingIcon.png');
}

.panel__user-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/accountIcon.png');
}

.panel__help-tab-activator {
    background-image: url('@view/panel/icons/mainTabSwitcherIcons/helpIcon.png');
}

@media (max-width: 599px) {
    .panel {
        width: 100%;
        border-radius: 0;
    }

    .panel__handler {
        border-radius: 0;
    }
}

@media (min-width: 600px) {
    .panel {
        width: 490px;
        border-top-left-radius: 6px;
    }

    .panel__handler {
        border-top-left-radius: 6px;
    }
}
