.panel {
    background-color: beige;
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.panel__tab-container {
    padding: 5px;
    overflow-y: auto;
}

.panel__handler {
    cursor: row-resize;
    background-color: darkgray;
    flex-grow: 0;
    flex-shrink: 0;
    height: 10px;
}

.panel__tab-switcher {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 360px;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
}

.panel__tab-switcher button {
    margin: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    word-break: break-all;
}