* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}
