:root {
    --main-color: #F0F2BD;
    --contrasting-color-hard: #4B352A;
    --contrasting-color-light: #ffbb80;
    --table-bg-color: #B2CD9C;
    --btn-bg-color: #FF9B45;
    --btn-bg-hover: #e68a3d;
    --btn-bg-active: #cc7935;
    --err-color: #D5451B;
    --loader-color: #4B352A;
    --font-color: #000000;
    --font-color-disabled: #999999;
    --font-size-small: 12px;
    --font-size: 14px;
    --font-size-large: 18px;
    --font-size-huge: 30px;
    --font-weight: 400;
    --font-weight-strong: 700;
    --margin-small: 3px;
    --margin: 5px;
    --margin-large: 10px;
    --margin-huge: 20px;
    --padding-small: 3px;
    --padding: 5px;
    --padding-large: 10px;
    --control-height: 30px;
    --control-height-small: 20px;
    --control-height-tiny: 16px;
}