:root {
    --main-color: beige;
    --contrasting-color: blue;
    --table-bg-color: lightblue;
    --table-highlighted-bg-color: darkblue;
    --font-size: 14px;
    --font-size-large: 18px;
    --font-size-huge: 30px;
    --font-weight: 400;
    --font-weight-strong: 700;
    --margin-small: 3px;
    --margin: 5px;
    --margin-large: 10px;
    --margin-huge: 15px;
    --control-height: 30px;
}