.rating-tab__col-place {
    width: 48px;
}

.rating-tab__col-ants-count {
    width: 70px;
}

.rating-tab__col-colonies-count {
    width: 70px;
}


.rating-tab__username-container {
    word-break: break-all;
}

.rating-tab__btns-container {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-large);
    gap: var(--margin);
}