.operation-creator-new-nest__field-worker-requirements-label {
    font-size: var(--font-size-small);
}

.operation-creator-new-nest__nest-name-input {
    width: 100%;
}

.operation-creator-new-nest__warriors-count-field-section {
    margin-top: var(--margin-huge);
}