{% load static %}
<html>
    <head>
        <meta name="referrer" content="origin" />
        <link rel="stylesheet" href="{% static 'client/initialStylesAccountApp.css' %}">
    </head>
    <body class="account">
        <div class="account__google-auth">
            <div id="g_id_onload"
                data-client_id="{{ google_client_id }}"
                data-context="use"
                data-ux_mode="redirect"
                data-login_uri="{{ google_oauth_redirect_uri }}"
                data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="continue_with"
                data-size="large"
                data-logo_alignment="left"
                data-width="270">
            </div>
        </div>
        <div class="account-tab" data-login-tab>
            <span class="account--title">
                Логін
            </span>
            <ul class="account--fields-list">
                <li>
                    <input type="text" placeholder="логін" data-user-name />
                </li>
                <li>
                    <input type="password" placeholder="пароль" data-password />
                </li>
            </ul>
            <div class="account--error" data-not-correct-creds-error>логін чи пароль не вірні</div>
            <div class="account--buttons-container">
                <button data-login-btn>залогінитись</button>
                <a href="#" data-switch-to-register-btn>реєструватись</a>
            </div>
        </div>
        <div class="account-tab" data-registration-tab>
            <span class="account--title">
                Реєстрація
            </span>
            <ul class="account--fields-list">
                <li>
                    <input type="text" placeholder="логін" data-user-name />
                </li>
                <li>
                    <input type="password" placeholder="пароль" data-password />
                </li>
                <li>
                    <input type="password" placeholder="підтвердження пароля" data-password-confirm />
                </li>
            </ul>
            <div class="account--error" data-passwords-different-error>паролі не співпадають</div>
            <div class="account--error" data-username-isnt-unique>логін занятий</div>
            <div class="account--error" data-reg-something-went-wrong>щось пішло не так</div>
            <div class="account--buttons-container">
                <button data-registration-btn>зареєструватись</button>
                <a href="#" data-switch-to-login-btn>логінитись</a>
            </div>
        </div>
    </body>
    {{ initial_data|json_script:"initial-data" }}
    <script src="https://accounts.google.com/gsi/client"></script>
    <script src="{% static 'client/accountApp.js' %}"></script>
</html>