{% load i18n %}
{% load static %}
<html>
    <head>
        <meta name="referrer" content="origin" />
        <link rel="stylesheet" href="{% static 'client/initialStylesAccountApp.css' %}">
    </head>
    <body class="account">
        <div class="account__google-auth">
            <div id="g_id_onload"
                data-client_id="{{ google_client_id }}"
                data-context="use"
                data-ux_mode="redirect"
                data-login_uri="{{ google_oauth_redirect_uri }}"
                data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="continue_with"
                data-size="large"
                data-logo_alignment="left"
                data-width="270">
            </div>
        </div>
        <div class="account-tab" data-login-tab>
            <span class="account--title">
                {% trans "Sign in" context "title" %}
            </span>
            <ul class="account--fields-list">
                <li>
                    <input type="text" placeholder="{% trans "login" %}" data-user-name />
                </li>
                <li>
                    <input type="password" placeholder="{% trans "password" %}" data-password />
                </li>
            </ul>
            <div class="account--error g-hidden" data-not-correct-creds-error>{% trans "Login or password is not correct." %}</div>
            <div class="account--buttons-container">
                <button data-login-btn>{% trans "sign in" context "button" %}</button>
                <a href="#" data-switch-to-register-btn>{% trans "sign up" context "link" %}</a>
            </div>
        </div>
        <div class="account-tab g-hidden" data-registration-tab>
            <span class="account--title">
                {% trans "Sign up" context "title" %}
            </span>
            <ul class="account--fields-list">
                <li>
                    <input type="text" placeholder="{% trans "login" %}" data-username />
                    <div class="g-hidden" data-username-loader></div>
                    <div class="g-error-container" data-username-err></div>
                </li>
                <li>
                    <input type="email" placeholder="{% trans "email" %}" data-email />
                    <div class="g-hidden" data-email-loader></div>
                    <div class="g-error-container" data-email-err></div>
                </li>
                <li>
                    <input type="password" placeholder="{% trans "password" %}" data-password />
                    <div class="g-error-container" data-password-err></div>
                </li>
                <li>
                    <input type="password" placeholder="{% trans "password confirmation" %}" data-password-confirm />
                    <div class="g-error-container" data-password-confirm-err></div>
                </li>
            </ul>
            <div class="account--buttons-container">
                <button data-registration-btn>{% trans "sign up" context "button" %}</button>
                <div class="g-hidden" data-registration-form-loader></div>
                <a href="#" data-switch-to-login-btn>{% trans "sign in" context "link" %}</a>
            </div>
        </div>
    </body>
    {{ initial_data|json_script:"initial-data" }}
    <script src="https://accounts.google.com/gsi/client"></script>
    <script src="{% static 'client/accountApp.js' %}"></script>
</html>