{% extends 'base.html' %}
{% load static %}

{% block title %}Admin{% endblock %}

{% block javascript %}
    <script src="{% static 'client/adminApp.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="admin-panel" data-world-status>
        <div class="status-section">
            <span class="status-label">Is world inited:</span>
            <span data-is-world-inited></span>
        </div>
        <div class="button-section">
            <button data-init-world>Init</button>
        </div>
        <fieldset class="world-controls-fieldset" data-world-controls>
            <div class="status-section">
                <span class="status-label">Is world running:</span>
                <span data-is-world-running></span>
            </div>
            <div class="button-section">
                <button data-run-world>Run</button>
                <button data-stop-world>Stop</button>
            </div>
            <div class="button-section">
                <button data-save-world>Save World</button>
            </div>
            <div class="button-section">
                <button data-populate-for-performance-test>Populate for performance test</button>
            </div>
            <div class="expanding-map-section">
                <div>
                    <label for="row-chunks">add row chunks:</label>
                    <input id="row-chunks" type="number" value="2" min="1" data-chunk-rows>
                </div>
                <div>
                    <label for="col-chunks">add col chunks:</label>
                    <input id="col-chunks" type="number" value="2" min="1" data-chunk-cols>
                </div>
                <button class="expanding-map-section_button" data-expand-map-btn>expand</button>
            </div>
        </fieldset>
    </div>
{% endblock %}
