{% extends 'base.html' %}
{% load i18n %}
{% load hashed_static %}

{% block title %}
    {% trans "Evolution Of Ants" %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% hashed_static 'initialStylesGameApp.css' %}">
{% endblock %}

{% block javascript %}
    {{ initial_data|json_script:"initial-data" }}
    <script src="{% hashed_static 'gameApp.js' %}"></script>
{% endblock %}

{% block content %}
    <div data-app></div>
    <div data-popup-container></div>
    <div class="game-loader" data-game-loader>
        <div class="game-loader__img-container">
            <img class="game-loader__img" src="{% hashed_static 'loader_screen_img.png' %}" />
        </div>
        <div class="game-loader__text-container">
            <div class="game-loader__text">{% trans "Loading..." %}</div>
        </div>
    </div>
{% endblock %}
