.operation-creator__title-container {
    display: flex;
    justify-content: center;
}

.operation-creator__title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-strong);
    margin-bottom: var(--margin-large);
    text-transform: capitalize;
}

.operation-creator__field-label {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-strong);
    text-transform: capitalize;
}

.operation-creator__start-btn-container {
    display: flex;
    justify-content: center;
    gap: var(--margin-small);
    margin-bottom: var(--margin-huge);
}

.operation-creator__field-section--large-margin-top {
    margin-top: var(--margin-huge);
}

.operation-creator__field-section--large-margin-bottom {
    margin-bottom: var(--margin-huge);
}

.operation-creator__nest-selector-container {
    max-width: 200px;
}