.colony_manager {
    padding: 5px;
    width: 350px;
}

.colony-manager__nests-list {
    list-style-type: none;
    padding: 3px;
    margin: 0;
}

.colony-manager__nest_item {
    color: blue;
    cursor: pointer;
}

.colony-manager__nest_item--selected {
    color: red
}

.colony-manager__nest-tab {
    display: flex;
    flex-direction: row;
}

.colony-manager__nest-manager {
    padding: 3px;
}


.colony-manager__operations-tab {
    display: flex;
    flex-direction: row;
}

.colony-manager__operations-list {
    border-collapse: collapse;
    border-spacing: 0px;
    border: solid 1px;
}

.colony-manager__operation {
    cursor: pointer;
}

.colony-manager__operation--selected {
    color: red;
}

.colony-manager__operations-list td {
    border: solid 1px;
}

.colony-manager__operations-creator {
    padding: 3px;
}

.colony-manager__new_operations_list {
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

.colony-manager__ants-table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: solid 1px;
}

.colony-manager__ants-table td {
    border: solid 1px;
}