.season-bar {
    height: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.season-bar__marker {
    position: absolute;
    height: 26px;
    width: 6px;
    margin-left: -3px;
    margin-top: -3px;
    background-color: black;
}

.season-bar__season {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.season-bar__season--spring {
    background-color: green;
}

.season-bar__season--summer {
    background-color: red;
}
.season-bar__season--autumn {
    background-color: yellow;
}

.season-bar__season--winer {
    background-color: white;
}

.climate__container {
    position: absolute;
    z-index: 2;
    margin: 3px;
    left: 0;
    right: 0;
    pointer-events: none;
    transform: translateY(0.1px); /*fix canvas rendering glich chrome*/
} 

.climate__temp {
    font-size: 28;
    margin-left: 5px;
    margin-top: 5px;
}