.season-bar {
    height: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.season-bar__marker {
    position: absolute;
    height: 26px;
    width: 6px;
    margin-left: -3px;
    margin-top: -3px;
    background-color: black;
}

.season-bar__season {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.season-bar__season--spring {
    background-color: #5FAE55;
}

.season-bar__season--summer {
    background-color: #CD4F45;
}
.season-bar__season--autumn {
    background-color: #DFA232;
}

.season-bar__season--winer {
    background-color: #DADFE3;
}

.climate__container {
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 0;
    right: 0;
    pointer-events: none;
    transform: translateY(0.1px); /*fix canvas rendering glich chrome*/
} 

.climate__temp {
    margin-left: var(--margin);
    margin-top: var(--margin);
}

.climate__temp * {
    font-size: var(--font-size-large);
}

.climate__year {
    margin-left: var(--margin);
    margin-top: var(--margin);
}

.climate__year * {
    font-size: var(--font-size-large);
}