.genome-analizer-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(128, 128, 128, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.genome-analizer {
    background-color: var(--main-color);
    height: 80%;
    max-width: 97%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.genome-analizer__head {
    display: flex;
}

.genome-analizer__close-btn-container {
    flex: 0 0 var(--control-height);
    padding-right: var(--padding);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.genome-analizer__content {
    overflow-y: scroll;
    overflow-x: auto;
}

.genome-analizer__content-wrapper {
    padding: var(--padding-large);
    min-width: fit-content;
}

.genome-analizer__title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-huge);
    font-weight: var(--font-weight-strong);
    text-transform: capitalize;
    white-space: nowrap;
}
