{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Email Verification" %}
{% endblock %}

{% block meta %}
    <meta name="referrer" content="no-referrer">    
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'client/initialStylesEmailVerificationPage.css' %}">
{% endblock %}

{% block content %}
    <div class="verification-container">
        {% if is_success %}
            <div class="verification-success">
                <div class="icon success-icon">✔</div>
                <h2>{% trans "Email successfully verified!" %}</h2>
                <p>{% trans "New horizons of evolution are open to you." %}</p>
                <a href="/" class="action-link">{% trans "To the nest" %}</a>
            </div>
        {% else %}
            <div class="verification-failure">
                <div class="icon failure-icon">✖</div>
                <h2>{% trans "Something went wrong..." %}</h2>
                <p>{% trans "Unfortunately, we were unable to verify your email. The token may be invalid or has already been used." %}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
