{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block meta %}
    <meta name="referrer" content="no-referrer">
{% endblock %}

{% block title %}Відновлення пароля{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'client/initialStylesResetPasswordApp.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'client/resetPasswordApp.js' %}"></script>
{% endblock %}

{% block content %}
    {% if is_request_mode %}
        <div data-request-mode>
            <div data-request-creating-tab>
                <h2>
                    {% trans "Password recovery request" %}
                </h2>
                <p>
                    Введіть електронну пошту, щоб отримати інструкції для відновлення пароля.
                </p>
                <div>
                    <input type="email" placeholder="{% trans "email" %}" data-email />
                    <div class="g-error-container" data-email-err></div>
                </div>
                <div class="g-error-container" data-request-err></div>
                <div>
                    <button data-send>{% trans "send" %}</button>
                    <div class="g-hidden" data-loader></div>
                    <a href="{% url 'account_index' %}">{% trans "back to sign in" %}</a>
                </div>
            </div>
            <div class="g-hidden" data-request-done-tab>
                <h2>Перевірте вашу пошту</h2>
                <p>Ми надіслали вам лист із посиланням для відновлення пароля.</p>
            </div>
        </div>
    {% elif is_set_password_mode %}
        <div data-set-password-mode>
            <div data-set-password-tab>
                <h2>
                    {% trans "Setting password" %}
                </h2>
                <p>
                    Встановіть новий пароль і більше не забувайте
                </p>
                <div>
                    <label>новий пароль:</label>
                    <input type="password" data-password />
                    <div class="g-error-container" data-password-err></div>
                </div>
                <div>
                    <label>підтвердження пароля:</label>
                    <input type="password" data-password-confirmation />
                    <div class="g-error-container" data-password-confirmation-err></div>
                </div>
                <div class="g-error-container" data-request-err></div>
                <div>
                    <button data-set-password-btn>встановити</button>
                    <div class="g-hidden" data-loader></div>
                </div>
            </div>
            <div class="g-hidden" data-setted-password-tab>
                <p>новий пароль встановлений</p>
                <a href="{% url 'account_index' %}">{% trans "back to sign in" %}</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
