{% extends 'base.html' %}
{% load i18n %}
{% load hashed_static %}

{% block meta %}
    <meta name="referrer" content="no-referrer">
{% endblock %}

{% block title %}
    {% trans "Password Recovery" %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% hashed_static 'initialStylesResetPasswordApp.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% hashed_static 'resetPasswordApp.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="reset-password__container">
        {% if is_request_mode %}
            <div data-request-mode>
                <div data-request-creating-tab>
                    <div class="reset-password__title">
                        {% trans "Password recovery request" %}
                    </div>
                    <div class="reset-password__text">
                        {% trans "Enter your email to receive instructions for password recovery." %}
                    </div>
                    <div>
                        <input class="g-input reset-password__email-input" type="email" placeholder="{% trans "email" %}" data-email />
                        <div class="g-error-container" data-email-err></div>
                    </div>
                    <div class="reset-password__btns-container">
                        <button class="g-button" data-send>{% trans "send" context "pass recovery send btn" %}</button>
                        <a class="reset-password__login-link" href="{% url 'account_index' %}">{% trans "back to sign in" %}</a>
                    </div>
                </div>
                <div class="g-hidden" data-request-done-tab>
                    <div class="reset-password__title">{% trans "Check your email." %}</div>
                    <div class="reset-password__text">{% trans "If specified email address is registered with the system, we have sent instructions to reset your password. If your account was created through Google, use the Google sign-in feature." %}</div>
                </div>
            </div>
        {% elif is_set_password_mode %}
            <div data-set-password-mode>
                <div data-set-password-tab>
                    <div class="reset-password__title">
                        {% trans "Setting password" %}
                    </div>
                    <div class="reset-password__text">
                        {% trans "Set a new password and never forget it again." %}
                    </div>
                    <div class="reset-password__field-container">
                        <label>{% trans "New password:" %}</label>
                        <input class="g-input" type="password" data-password />
                        <div class="g-error-container" data-password-err></div>
                    </div>
                    <div class="reset-password__field-container">
                        <label>{% trans "Password confirmation:" %}</label>
                        <input class="g-input" type="password" data-password-confirmation />
                        <div class="g-error-container" data-password-confirmation-err></div>
                    </div>
                    <div class="g-error-container" data-request-err></div>
                    <div class="set-password__btns-container">
                        <button class="g-button" data-set-password-btn>{% trans "set password" %}</button>
                        <div data-loader></div>
                    </div>
                </div>
                <div class="g-hidden" data-setted-password-tab>
                    <div class="reset-password__text">{% trans "New password successfully set." %}</div>
                    <a class="reset-password__login-link" href="{% url 'account_index' %}">{% trans "back to sign in" %}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
