.help__section {
    padding: 20px;
    transition: background-color 1s ease;
}

.help__section--highlighted {
    background-color: #B2CD9C
}

.help__section-title, .help__section-title > * {
    font-weight: var(--font-weight);
    font-size: var(--font-size-huge);
    text-align: center;
}

.help__subsection-title, .help__subsection-title > * {
    font-weight: var(--font-weight);
    font-size: var(--font-size-large);
    text-align: left;
}

