.panel-tab-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.panel-tab-head__tab-name {
    font-weight: var(--font-weight-strong);
    font-size: var(--font-size-huge);
}

.panel-tab-head__help-sign-container {
    position: absolute;
    right: 0;
    top: -15px;
}