.operations-list__table {
    margin-top: var(--margin);
}

.operations-list__table-col-status {
    width: 80px;
}

.operations-list__table-col-hiring {
    width: 90px;
}

.operations-list__table-col-actions {
    width: 90px;
}

.operations-list__operation_actions_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--margin-small)
}

.operations-list__operation--selected {
    background-color: var(--table-hightlight-bg-color);
}


