.nests-tab__nest-selector-section {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--margin-huge);
    margin-top: var(--margin-huge);
    gap: var(--margin);
    align-items: center;
}

.nests-tab__nest-selector-label {
    font-weight: var(--font-weight-strong);
    font-size: var(--font-size-large);
    text-transform: capitalize;
}

.nests-tab__nest-selector-container {
    display: flex;
    flex-direction: row;
    gap: var(--margin-small);
    flex-grow: 1;
    min-width: 0;
}

.nests-tab__nest-selector {
    display: flex;
    min-width: 0;
    justify-content: space-between;
    align-items: center;
    gap: var(--margin);
    flex-grow: 1;
}

.nests-tab__nest-selector-arrow-btn {
    flex: 0 0 auto;
}

.nests-tab__nest-selector-selected-nest-conainer {
    min-width: 0;
}

.nests-tab__nest-selector-nest {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: var(--font-weight-strong);
}
