.male-selector__choose-btn-container {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
    gap: var(--margin);
}

.male-selector__analize-genome-btn-container {
    margin-top: var(--margin-small);
}

.male-selector__profile-stats {
    margin-top: var(--margin-small);
}