{% load static %}
<html>
    <head>
        {{ initial_data|json_script:"initial-data" }}
        <style>
            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <div data-world></div>

        <div data-account-view>
            <div data-login-tab>
                логін
                <div> 
                    <input type="text" placeholder="логін" data-user-name />
                </div>
                <div>
                    <input type="password" placeholder="пароль" data-password />
                </div>
                <div data-not-correct-creds-error>логін чи пароль не вірні</div>
                <div>
                    <button data-login-btn>залогінитись</button>
                </div>
                <button data-switch-to-register-btn>реєструватись</button>
            </div>
            <div data-registration-tab>
                реєстрація
                <div>
                    <input type="text" placeholder="логін" data-user-name />
                </div>
                <div>
                    <input type="password" placeholder="пароль" data-password />
                </div>
                <div>
                    <input type="password" placeholder="підтвердження пароля" data-password-confirm />
                </div>
                <div data-passwords-different-error>паролі не співпадають</div>
                <div data-username-isnt-unique>логін занятий</div>
                <div>
                    <button data-registration-btn>зареєструватись</button>
                </div>
                <button data-switch-to-login-btn>логінитись</button>
            </div>
            <div data-user-tab>
                логін: <span data-username></span>
                <button data-logout-btn>вийти</button>
            </div>
        </div>
        
    </body>
    <script src="{% static 'core/app.js' %}"></script>
</html>